@import url(https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

header {
background-color: white;
padding: 20px;
}

header > h1 {
color: darkslategray;
text-align: center;
font-family: Asap, sans-serif;
}

.score-board {
  width: 300px;
  margin: 20px auto;
  border: solid white;
  text-align: center;
  border-radius: 8px;
  width: 200px;
  color: azure;
  font-size: 46px;
  position: relative;
}

.badge {
  background-color: brown;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Assap, sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: azure;
}

.result > p {
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;

}

.choices {
  margin: 50px 0;
  text-align: center;
  display: inline-block;
}

.choices {
  border: 4px solid cornsilk;
  border-radius: 50%;
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;

}
.choices:hover{
  cursor: pointer;
  background: yellowgreen;
}

#action {
  text-align: center;
  color: azure;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
